*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* button {
    z-index: 1;
    transition: 0.1s ease-in-out;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    padding: 15px 30px;
    color: white;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #fcb302;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;

    
}
button .introbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
    svg {
        z-index: 1;
        height: 20px;
    }
}
button span{
    z-index: 1;
}
button::before{
    transition: 0.2s ease-in-out;
    position: absolute;
    top: -25px;
    left: -100px;
    content: '';
     scale: 0.1;
    border-radius: 50%;
    padding: 50px;
    background-color: white;

} */
/* button:hover::before{
    transition: 0.2s ease-in-out;
    scale: 2.5;
    left: 50px;
}
button:hover{
    color: #111111;
}  */