.section1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    
    flex: 0 0 100%;

    .home {
        opacity: 0;
        display: none;
        overflow: hidden;
        flex: 0 0 100%;
        position: relative;
        height: 54rem;
        width: 100%;

        background-color: #faf7f2;

        @media screen and (width<1400px) {
            height: 40rem;
        }

        @media screen and (width<1150px) {
            height: 30rem;
        }

        @media screen and (width<900px) {
            height: 25rem;
        }

        @media screen and (width<800px) {
            height: 20rem;
        }


        .tomato {
            position: absolute;
            width: 15%;
            top: 12%;
            left: -2%;
            animation: tomat 4s;

            @media screen and (width<992px) {
                display: none;
            }

            @keyframes tomat {

                0%,
                80% {
                    transform: translateY(-40px);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }


        .redSpot {
            width: 46%;
            position: absolute;
            top: -3%;
            right: -1%;
            animation: redspot 4s;

            @keyframes redspot {
                0% {
                    opacity: 0;
                    transform: translateX(10px);
                }

                70% {
                    opacity: 0;
                    transform: translateX(10px);
                }

                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }

            @media screen and (width<992px) {
                top: -9%;
                right: -5%;
            }
        }

        .glow {
            width: 20%;
            position: absolute;
            top: 24%;
            right: 14%;
            animation: glow 4s;

            @keyframes glow {

                0%,
                80% {
                    transform: translateY(10px);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

        .onion1 {
            transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
            width: 7%;
            position: absolute;
            top: 15%;
            right: 40%;
            animation: oni1 4s;

            @keyframes oni1 {

                0%,
                80% {
                    opacity: 0;
                    transform: translateY(20px);
                }

                100% {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

        .onion2 {
            transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
            scale: -1;
            width: 7%;
            position: absolute;
            top: 77%;
            right: 16%;
            animation: oni2 4s;

            @keyframes oni2 {

                0%,
                80% {
                    opacity: 0;
                    transform: translateY(20px);
                }

                100% {

                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

        .slider {
            width: 39%;
            position: absolute;
            top: 31%;
            right: 17%;
            animation: pizz 4s;

            @keyframes pizz {

                0%,
                20% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .intro {
            position: absolute;
            top: 40%;
            left: 17%;


            h1:first-child {
                font-size: calc(100dvw / 40);
                font-family: sans-serif;
                color: #f43127;


                animation: bigitalian 4s;

                @keyframes bigitalian {

                    0%,
                    40% {
                        transform: translateX(-60px);
                        opacity: 0;
                    }



                    100% {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }
            }

            h1 {
                font-size: calc(100dvw / 30);

                color: #111111;
                font-family: 'Barlow', sans-serif;
                animation: chees 4s;

                @keyframes chees {

                    0%,
                    50% {
                        transform: translateX(-60px);
                        opacity: 0;
                    }

                    100% {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }



            }




        }

        p {
            position: absolute;
            top: 55%;
            left: 17%;
            font-size: calc(100dvw / 95);
            font-family: sans-serif;
            font-weight: 600;
            width: 28%;
            animation: text 4s;


            @keyframes text {

                0%,
                60% {
                    opacity: 0;
                    transform: translateX(-60px);
                }

                100% {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }


        }

        button {
            z-index: 100;
            position: absolute;
            bottom: -64%;
            left: 23%;
            width: calc(100dvw / 8);
            opacity: 1;
            transition: 0.1s ease-in-out;
            overflow: hidden;
            position: relative;
            margin-top: 0px;
            padding: calc(100dvw / 124) calc(100dvw / 62);

            color: white;
            border-radius: 50px;
            border: none;
            outline: none;
            background-color: #fcb302;
            font-family: 'Barlow', sans-serif;
            font-size: calc(100dvw / 100);



            animation: butto 4s;

            @keyframes butto {

                0%,
                70% {
                    left: 21%;
                    opacity: 0;
                }

                100% {
                    left: 23%;
                    opacity: 1;
                }
            }



            .introbutton {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                svg {
                    z-index: 1000;
                    height: calc(100dvw / 100);


                }
            }

            span {
                z-index: 1000;
            }
        }

        button::before {
            content: '';
            transition: 0.2s ease-in-out;
            position: absolute;
            top: -25px;
            left: -100px;
            border-radius: 50%;
            padding: 50px;
            background-color: white;

        }

        button:hover::before {
            transition: 0.2s ease-in-out;
            scale: 4;
            left: 50px;
        }

        button:hover {
            color: #111111;
        }


    }

    .corouselbutton {
        transition: 0.3s all ease-in-out;

        position: absolute;
        scale: 0;
        z-index: 200;
        // left: 0;
        top: 50%;
        box-shadow: 0px 1px 2px black;
        width: calc( 100dvw / 35 );
        height:calc( 100dvw /35 );
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (width<992px) {
            width: calc( 100dvw / 25 );
            height:calc( 100dvw /25 );
        }
        @media screen and (width<480px) {
            width: calc( 100dvw / 15 );
            height:calc( 100dvw /15 );
        }

        svg {
            height: calc( 100dvw / 45 );
            width: calc( 100dvw / 45);
            color: #f43127;
            @media screen and (width<992px) {
                width: calc( 100dvw / 20 );
                height:calc( 100dvw /20 );
            }
        }
        @media screen and (width<480px) {
            scale: 1;
        }
    }

    .corouselbutton:hover {
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: #f43127;

        svg {
            color: white;
        }
    }

    .corouselbutton:first-child {
        left: 0px;

    }

    .corouselbutton:last-child {
        right: 0px;
    }

    .home.active {
        opacity: 1;
        display: block;
    }


    .home:hover ~ .corouselbutton, .corouselbutton:hover {
        transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        scale: 1;
    }

}
.section1::-webkit-scrollbar{
    display: none;
}
@media screen and (width<480px) {
    .section1 {
        .home {

            height: 28rem;

            .corouselbutton {
                display: none;
            }

            .tomato {
                display: none;
            }

            .redSpot {
                width: 65%;
                top: -10%;
                right: -25%;

            }

            .glow {
                top: 27%;
                left: 30%;
                rotate: -35deg;
                width: 30%;
            }

            .slider {
                top: 30%;
                left: 50%;
                width: 60%;
                transform: translateX(-50%);
            }

            .intro {

                left: 50%;
                transform: translateX(-50%);

                width: 90%;
                top: 12%;

                h1:first-child {
                    text-align: center;
                    font-size: calc(100dvw / 18);
                }

                h1:last-child {
                    text-align: center;
                    font-size: calc(100dvw / 9);

                }
            }

            button {
                position: absolute;
                bottom: 16%;
                left: 50%;
                transform: translateX(-50%);
                padding: calc(100dvw / 50) calc(100dvw / 100);
                font-size: calc(100dvw / 30);

                margin-top: 0;
                width: calc(100dvw / 3);

                .introbutton {
                    svg {
                        height: calc(100dvw / 30);
                    }
                }

                @keyframes butto {

                    0%,
                    70% {
                        opacity: 0;
                        left: 40%;
                    }

                    100% {
                        opacity: 1;
                        left: 50%;
                    }
                }
            }

            p {
                font-size: calc(100dvw / 25);
                position: absolute;
                text-align: center;
                top: 66%;
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
                font-weight: 400;
                z-index: 100;

                @keyframes text {

                    0%,
                    60% {
                        left: 40%;
                        opacity: 0;
                    }

                    100% {
                        left: 50%;
                        opacity: 1;
                    }
                }
            }

            .onion1 {
                position: absolute;
                top: 48%;
                left: 16%;
            }

            .onion2 {
                position: absolute;
                top: 48%;
                right: 20%;
            }
        }
    }
}