header {
    z-index: 999;
    position: fixed;
    width: 100dvw;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;


    .logoImage {
        margin-left: 2%;
        width: 10%;

        img {
            height: auto;
            max-width: 100%;
        }
    }



    .links {
        // overflow-y: scroll;

        ul {
            display: flex;
            gap: 1rem;
            cursor: pointer;
            list-style: none;
        }

        li {
            transition: 0.2s ease-in-out;
            position: relative;
            padding: 45px 15px;
            font-family: sans-serif;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: #010101;
            font-style: normal;

            .fa-minus {
                visibility: hidden;
            }

            .fa-plus {
                visibility: hidden;
            }

            .invisible {
                visibility: hidden;
            }

            .visible {
                visibility: hidden;
            }
        }

        li:hover {
            color: #f43127;
        }

        li:nth-child(1):hover {
            .homemenu {
                transition: 0.1s ease-in-out;
                opacity: 1;
                top: 7rem;
                display: flex;
            }

            @media screen and (width<992px) {

                .homemenu {
                    display: none;
                    top: 0rem;
                }

                .showSubmenu {
                    display: flex;
                }
            }
        }

        li:nth-child(2):hover {
            .foodmenu {
                transition: 0.1s ease-in-out;
                opacity: 1;
                top: 7rem;
                display: flex;
            }

            @media screen and (width<992px) {

                .foodmenu {
                    display: none;
                    top: 1.29rem;
                }

                .showSubmenu {
                    display: flex;
                }
            }
        }

        li:nth-child(3):hover {
            .pages {
                transition: 0.1s ease-in-out;
                opacity: 1;
                top: 7rem;
                display: flex;
            }

            @media screen and (width<992px) {

                .pages {
                    display: none;
                    top: 1.29rem;
                }

                .showSubmenu {
                    display: flex;
                }
            }
        }

        li:nth-child(4):hover {
            .blogs {
                transition: 0.1s ease-in-out;
                opacity: 1;
                top: 7rem;
                display: flex;
            }

            @media screen and (width<992px) {

                .blogs {
                    display: none;
                    top: 1.29rem;
                }

                .showSubmenu {
                    display: flex;
                }
            }
        }

        li:nth-child(5):hover {
            .shops {
                transition: 0.1s ease-in-out;
                opacity: 1;
                top: 7rem;
                display: flex;
            }

            @media screen and (width<992px) {

                .shops {
                    display: none;
                    top: 1.29rem;
                }

                .showSubmenu {
                    display: flex;
                }
            }
        }


    }

    .contact {
        // height: 10vh;
        // width: 10vh;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .icon {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: #eeeeee;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {

                height: 14px;
                width: 14px;
                transform: rotate(45deg);
            }

        }

        .info {
            line-height: 1.2;
            display: flex;
            flex-direction: column;

            span:first-child {
                color: #5F5F5F;
                font-weight: 600;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: calc(100dvw / 100);
            }

            span:last-child {

                font-size: calc(100dvw / 80);
                font-family: 'Barlow', sans-serif;
            }
        }


    }

    .search,
    .cart {
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 18px;
            width: 18px;
        }

        .cross {
            display: none;
        }

        .searchInVisible {
            display: none;
        }

        .searchVisible {
            display: block;
        }

        .searchBar {
            opacity: 0;
            visibility: hidden;
            position: absolute;

            width: 380px;
            top: 6rem;
            height: 100px;
            right: 0;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 48px 0 rgb(155 155 155 / 25%);

            display: flex;
            justify-content: center;
            align-items: center;

            form {
                display: flex;
                // width: 300px;
                padding: 20px 0;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: max-content;

                input {
                    padding: 15px 20px 15px 15px;
                    width: 280px;
                    background-color: #eeeeee;
                    outline: none;
                    border: none;
                    border: 1px solid rgb(220, 220, 220);
                    border-right: none;
                    border-radius: 5px;
                    font-size: 20px;
                    font-family: sans-serif;
                }

                div {
                    position: relative;
                    right: 2px;
                    height: 55px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fcb302;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                    svg {
                        color: white;
                        height: 25px;
                        width: 25px;

                    }
                }
            }
        }

        .visible {
            transition: all 140ms ease-in-out;
            opacity: 1;
            visibility: visible;
            top: 4.5rem;
        }

        .cartdropdown {
            position: absolute;
            top: 6rem;
            padding: 25px;

            line-height: 22px;
            background-color: #fff;
            border-radius: 5px;
            position: absolute;
            right: 0;
            // top: 120%;
            width: 340px;
            max-height: 70vh;
            overflow-y: auto;
            z-index: 99999;
            opacity: 0;
            visibility: hidden;
            text-align: left;
            box-shadow: 0 0 48px 0 rgb(155 155 155 / 25%);

            transition: all 140ms ease-in-out;

            h2 {
                margin-top: 10px;
                font-family: sans-serif;
                font-weight: 600;
            }

            p {
                margin-top: 10px;
                color: black;
                font-family: sans-serif;
            }
        }
    }

    .cart:hover {
        .cartdropdown {
            top: 4.5rem;
            opacity: 1;
            visibility: visible;
        }
    }


    .right {
        display: flex;
        gap: 1rem;
        align-items: center;

        span {
            display: none;
        }
    }

    .rightportion {
        margin-right: 2%;
        width: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        width: 20px;
        margin-left: 30px;
        margin-right: 15px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        display: none;

        span {
            transition: 0.25s ease-in-out;

            border-bottom: 2.5px solid black;
            position: relative;
        }

        span:nth-child(2),
        span:nth-child(3) {
            width: 20px;
            height: 1px;

        }

        span:nth-child(1),
        span:nth-child(4) {
            width: 25px;
            height: 1px;
        }
    }

    .menuopen {

        span:nth-child(2),
        span:nth-child(3) {
            transition: 0.05s ease-in-out;
            opacity: 0;
        }

        span:nth-child(1) {
            top: 9px;
            left: 3.5px;
            width: 27px;
            transition: 0.25s ease-in-out;
            transform: rotate(-45deg);
        }

        span:nth-child(4) {
            top: -9px;
            left: 3.5px;
            width: 27px;
            transition: 0.25s ease-in-out;

            transform: rotate(45deg);
        }
    }


}



.homemenu,
.foodmenu,
.pages,
.blogs,
.shops {
    transition: 0.1s ease-in-out;
    position: absolute;
    top: 9rem;
    left: 0;
    opacity: 0;
    display: none;
    background-color: #fff;


    ul {
        padding: 10px 0;
        margin: 0;
        flex-direction: column;
        gap: 0rem;

        li {
            width: 15rem;
            // padding: 0;
            padding: 0.25rem 1rem;
        }

        li:hover {
            span {
                transition: 0.2s ease-in-out;
                position: relative;
                left: 0.5rem;
                color: #fcb302;
            }
        }
    }
}

@media screen and (width<992px) {
    header {
        padding: 0rem;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 0;

        .menu {
            display: flex;
        }

        .links {
            overflow-y: scroll;
            display: none;
        }


        .search {
            .searchBar {
                top: 3rem;
            }

            .visible {
                top: 2.75rem;
            }
        }

        .linksmobile {
            display: flex;
            position: absolute;
            flex-direction: column;
            width: 100%;
            // top: 4rem;
            top: 100%;
            right: 0;
            height: max-content;

            ul {
                height: max-content;
                flex-direction: column;
                position: relative;

                // top: 3.5rem;right: 0;;
                gap: 0rem;
                height: max-content;
                background-color: #ececec;

                li {
                    padding: 0;
                    // margin: 0 12px;
                    border-top: 1px solid rgb(209, 209, 209);
                    border-bottom: 1px solid rgb(209, 209, 209);

                    .menuOuter {
                        display: flex;
                        padding: 0 12px;
                        height: 40px;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .fa-plus {
                        visibility: visible;
                        display: block;
                    }

                    .fa-minus {
                        visibility: hidden;
                        display: none;
                    }

                    .invisible {
                        display: none;
                        visibility: hidden;
                    }

                    .visible {
                        display: block;
                        visibility: visible;

                    }
                }
            }
        }

        .cart {
            .cart:hover {
                .cartdropdown {
                    display: none;
                }
            }

            .cartdropdown {
                display: none;
            }
        }

        .contact {

            .info {
                display: none;

            }

            .icon {
                display: none;
            }

        }

        .search,
        .cart {
            height: 25px;
            width: 25px;
            background-color: #fff;

            svg {
                height: 22px;
                width: 22px;
            }
        }

        .right {
            gap: 0.5rem;

            span {
                display: block;
                align-self: center;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .rightportion {
            width: max-content;
        }

        .logoImage {
            width: 20%;
        }


        .homemenu,
        .foodmenu,
        .pages,
        .blogs,
        .shops {
            position: relative;
            // top: 2rem;
            left: -1.25rem;
            // padding-left: 20px;
            width: 100dvw;

            ul {
                width: 100%;

                li {
                    width: 100%;
                    padding: 10px 40px;
                }
            }
        }
    }
}

@media screen and (width<480px) {
    header {
        padding: 0.5rem 0rem;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: flex;
            margin-left: 20px;
            margin-right: 5px;
        }

        .links {
            display: none;
        }

        .search {
            .searchBar {
                top: 4rem;
                left: -18rem;
                font-size: 20px;
                width: 380px;
                top: 6rem;
                height: 100px;
            }

            .visible {
                top: 3rem;
                left: -18rem;
            }
        }

        .linksmobile {
            display: flex;
            position: absolute;
            flex-direction: column;
            width: 100%;
            top: 100%;
            // top: 4rem;
            right: 0;
            height: max-content;

            ul {
                user-select: none;
                // display: none;
                height: max-content;
                flex-direction: column;
                position: relative;

                // top: 3.5rem;right: 0;;
                gap: 0rem;
                height: max-content;
                background-color: #ececec;

                li {
                    padding: 8px;
                    border-bottom: 1px solid rgb(209, 209, 209);


                }
            }
        }

        .contact {

            .info {
                display: none;

            }

            .icon {
                display: none;
            }

        }

        .search,
        .cart {
            height: 25px;
            width: 25px;
            background-color: #fff;

            svg {
                height: 22px;
                width: 22px;
            }
        }


        .right {
            gap: 0.5rem;

            span {
                display: block;
                align-self: center;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .rightportion {
            width: max-content;
        }

        .logoImage {
            width: 25%;
        }


        .homemenu,
        .foodmenu,
        .pages,
        .blogs,
        .shops{
            ul li{
                padding: 15px 50px;
            }
        }
    }
}